.navbar-light .navbar-nav .nav-link {
    font-weight: 600 !important;
    color: rgb(106 106 106 / 95%);
    margin: 0 10px;
}
/* section{
    display: none;
}
section#home{
    display: block;
} */
.carousel-control-prev{
    left: 0;
}
@media (min-width: 1024px) {
    .pushed-image{
        margin: -150px 0px 0px 0px;
    }
}



@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}